// work directory where intermediate files will be stored
workDir = 'gs://path/to/my/workdir'

process {
  executor = 'google-batch'
  errorStrategy = { task.exitStatus==null ? 'retry' : 'terminate' }
  maxRetries = 3
}

profiles {
    gbatch {
      google.project = 'my-billing-project'
      google.location = 'us-central1'
      batch.spot = true
    }
}
