# Run installation checks

name: install

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  install:

    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: [3.6]

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        python -m pip install flake8 pytest pypandoc
        if [ -f requirements.txt ]; then pip install -r requirements.txt; fi
    - name: Install GWASpy
      run: |
        python setup.py sdist
        pip3 install dist/gwaspy-0.1.0.tar.gz
    - name: Check modules
      run: |
        preimp_qc --help
        pca --help
        imputation --help
        phasing --help
